[2020-09-26 05:13] ephremdeme opened #2 "Implement Merge Sort"
Implement merge sort with any language

Input : unsorted array

Output: sorted array

[2020-09-26 05:15] ephremdeme opened #3 "Quick Sort Implementation"
Quick sort implementation with any language

[2020-09-26 05:18] ephremdeme opened #4 "Linear search"
Linear search implementation with any language

[2020-09-26 05:52] ephremdeme opened #5 "Linked List in python"
Python implementation of linked list data structure

Implement common linked list ADT
which supports: insert, delete, search and print elements

[2020-09-26 06:31] amuamushu commented on #5
I can work on this :)

[2020-09-26 07:05] Jaideep07 commented on #4
I would like to do this 😃

[2020-09-26 08:42] sparshs413 commented on #3
I am working on this.

[2020-09-26 08:42] sparshs413 commented on #4
I have created a pull request please, review.

[2020-09-26 10:04] ritik-gupta commented on #2
i'm up for this. Can you assign it to me?

[2020-09-26 12:08] dolonmandal commented on #4
Please Assign :)

[2020-09-26 12:26] DEBANJANAB commented on #5
Can I work on this?

[2020-09-26 12:26] sparshs413 commented on #4
Will take care next time @dolonmandal

[2020-09-26 14:46] Atheriz-46 commented on #5
I can work on this

[2020-09-26 17:09] ephremdeme opened #11 "Doubly Linked List implemetation"
implement doubly linked list in JavaScript, python , C++ or in any language.

[2020-09-26 17:10] ephremdeme opened #12 "Stack Implementation"
implement stack in python, c#, or in any language

[2020-09-26 17:14] ephremdeme opened #13 "Binary Search Tree"
implement binary search in C++, Java, python, or in any other language

[2020-09-26 17:17] ephremdeme commented on #4
i have reviewed every PR and merged them.

Now, implement in any other language not the one being implemented

[2020-09-26 17:20] ephremdeme opened #14 "Hashing Implement"
Implement hashing in any language but javascript. Try to include probing techniques.

[2020-09-26 17:24] ephremdeme opened #15 "Fibonacci sequence"
Implement Fibonacci sequence in any language. Recursive is appreciated.

[2020-09-26 18:04] ephremdeme commented on #5
if it is not implemented sure work on it else improve it , make it better

[2020-09-26 18:12] gokulkannan7 commented on #15
I would love to work on this, can u assign it to me?

[2020-09-26 18:13] gokulkannan7 commented on #13
I would love to work on this.

[2020-09-26 18:15] ephremdeme commented on #2
@all-contributors please add ritik-gupta for code

[2020-09-26 18:23] gokulkannan7 commented on #15
since it is a part of hacktoberfest. should I put a PR in October?

[2020-09-26 18:23] gokulkannan7 commented on #13
since it is a part of hacktoberfest. should I put a PR in October?

[2020-09-26 18:25] ephremdeme commented on #4
@all-contributors please add sparshs413 for code

[2020-09-26 19:07] ankitksh81 commented on #15
Hey! Iet me know if I can do this one. Thank you.

[2020-09-26 19:13] ankitksh81 commented on #14
Hi, @ephremdeme Can I be assigned this issue for Hacktoberfest PR ?
Also do you want this to be implemented only in any one language or more ?

[2020-09-26 19:14] ankitksh81 commented on #11
Hi, @ephremdeme Can I be assigned this issue for Hacktoberfest PR ?

[2020-09-26 19:15] ankitksh81 commented on #12
Hi, @ephremdeme  I would like to work on this issue for Hacktoberfest PR.

[2020-09-26 19:22] ankitksh81 commented on #3
@ephremdeme Can I work on this issue for my Hacktoberfest PR?
Do let me know.

[2020-09-26 19:50] ephremdeme commented on #15
why don't you PR this

Then do it.

[2020-09-26 19:52] ephremdeme commented on #14
It will be great if you will implement it in many language

[2020-09-26 19:54] ephremdeme commented on #15
You can work on it by implementing it in many language.

[2020-09-26 19:59] Priyanshu2802 commented on #12
I am also intrested to contribute during HACKTOBER FEST. @ephremdeme

[2020-09-26 20:09] ankitksh81 commented on #15
@ephremdeme just a quick question, will PRs from both of us will be counted for hacktoberfest ?

[2020-09-27 00:48] swastikchugh commented on #12
Hey @ephremdeme, I would like to contribute to the javascript implementation.

[2020-09-27 00:49] swastikchugh commented on #13
Hey @ephremdeme, I would like to contribute to the JavaScript implementation.

[2020-09-27 03:28] sparshs413 commented on #13
I would to work on this, but will be putting up a PR in October!

[2020-09-27 04:52] ephremdeme commented on #12
Sure, you can implement some not implemented algorithms in JavaScript.

[2020-09-27 05:00] ephremdeme commented on #15
Yeah, why not.

[2020-09-27 08:19] ephremdeme opened #35 "Reverse a number without using string"
Build a function that, given a number, reverses it without using strings.

input: 12345

output: 54321

[2020-09-27 08:23] ephremdeme opened #36 "Check Palindrome of integers"
Build a function that checks weather a given number is a palindrome or not without using a strings. Implement it using any language.

For example:
     input: 12321
     output: true

     input: 12344321
     output: false

[2020-09-27 08:26] Halix267 commented on #36
Sir,I would like to work on this issue .Plzz assign it to me.

[2020-09-27 08:26] ywalia01 commented on #35
Can i work on it?

[2020-09-27 08:27] ephremdeme opened #37 "Check Prime Number"
Build a program that checks weather a given number is a prime or not. Don't forget to optimize for performance.
Implement it using any language.

input: 1109
output: True

input: 1110
output: False

[2020-09-27 08:28] sparshs413 commented on #37
Please assign me this task!!

[2020-09-27 08:29] sparshs413 commented on #36
Please assign me this task!!

[2020-09-27 08:29] ephremdeme commented on #35
Sure why not.

[2020-09-27 08:31] ephremdeme commented on #36
Please Implement it in different language and comment in which language you are gonna do it.
Thanks

[2020-09-27 08:32] ywalia01 commented on #35
So should i just paste the code here?

[2020-09-27 08:32] ephremdeme commented on #37
Comment your preferred language below.

[2020-09-27 08:33] Halix267 commented on #36
I want to do it in java

[2020-09-27 08:34] ephremdeme commented on #35
It is good practice to PR than to paste code here @ywalia01 .

[2020-09-27 08:35] ephremdeme commented on #36
Good, Go ahead and code it.

[2020-09-27 08:36] ywalia01 commented on #35
Then which folder is it supposed to go to?

[2020-09-27 08:39] sparshs413 commented on #36
I would be doing in C++

[2020-09-27 08:39] sparshs413 commented on #37
I would do it in C++

[2020-09-27 08:48] ankitksh81 commented on #14
Hi @ephremdeme, just one more question..
Should I put the code in a folder and then create a PR?

[2020-09-27 08:51] Yusuf-Shaikh commented on #36
Can I work on this using C++

[2020-09-27 08:58] ankitksh81 commented on #14
Hi @ephremdeme, Should I put all the code I will write on this issue in the folder named Hashing ?

[2020-09-27 08:59] ephremdeme commented on #36
Sorry i think C++ is taken by @sparshs413 . Feel free to code in other language though.

[2020-09-27 09:02] ephremdeme commented on #35
Create a new folder named Algorithms.

[2020-09-27 09:25] ephremdeme commented on #37
Great, Go on do it. I just completed it using JavaScript.

[2020-09-27 09:56] malathit commented on #37
Shall I implement the program in python?

[2020-09-27 10:42] Ankitkumarjaiswal commented on #11
Hi, @ephremdeme I would like to contribute towards this issue. I would prefer python or java.

[2020-09-27 10:44] Ankitkumarjaiswal commented on #3
Hi, @ephremdeme  I would like to contribute towards this issue. I would prefer python or java.

[2020-09-27 10:53] femakin commented on #37
Please can I implement with R

[2020-09-27 10:58] malathit commented on #12
Shall I work on the python implementation?

[2020-09-27 15:40] AnshMishra2001 commented on #35
Please assign this task to me.

[2020-09-27 15:50] ephremdeme commented on #37
Yeah sure. please do.

[2020-09-27 15:57] ephremdeme commented on #14
Yeah, sure.

[2020-09-27 17:06] Vansh1067 commented on #11
Hi, @ephremdeme Can I work on this in javascript and open the PR during Hacktoberfest? :)

[2020-09-28 03:56] roninJosue commented on #37
Hello, can I implement it in JavaScript?

[2020-09-28 06:45] skamp91 commented on #15
Hey :)
I would like to do in c#.

GoodRegards

[2020-09-28 06:47] skamp91 commented on #37
Hey :)
I would like to implement this task in C#.

GoodRegards

[2020-09-28 06:50] skamp91 commented on #35
Hey :)
I would like to implement in C#

BestRegards

[2020-09-28 07:51] ephremdeme commented on #37
Yes you can implement in what ever language you want, so just Pull Request.

[2020-09-28 08:48] vyasriday commented on #36
Hey @ephremdeme I can take it in JavaScript.

[2020-09-28 09:33] yashasvimisra2798 opened #45 "Implement Shell Sort"
Write a program to implement the shell sort algorithm.

[2020-09-28 09:34] yashasvimisra2798 commented on #45
I can do this task in C++. Please assign this to me, I want to work on this as a part of Hacktoberfest!

[2020-09-28 11:23] Yusuf-Shaikh commented on #36
ok can I do in Java

[2020-09-28 12:38] idadidut commented on #36
Hello @ephremdeme, may I work on this issue using Python?

[2020-09-28 19:45] #37 closed

[2020-09-28 19:51] gauravmadan583 commented on #12
Hi! I can implement in C++ and Python. Should I work on it?

[2020-09-28 20:03] ephremdeme commented on #45
Okay here you go.

[2020-09-28 20:06] ephremdeme opened #53 "Check two strings are anagrams"
Check weather the given two strings are anagrams of each other, i.e weather they contain the same letter.

Example :
Input: abc & cab  //abc is anagrams with cab, bac, cab..
Output: True

[2020-09-28 20:08] ephremdeme commented on #36
Sure, why not.

[2020-09-28 20:17] thomaslu2 commented on #53
Can I do this in Java?

[2020-09-28 20:46] Nitin2702 commented on #35
Hey,I want to implement this in C++
Can you please assign this to me?

[2020-09-28 21:04] loknathbaskar commented on #53
I have this logic in my git library. Done using C#.

[2020-09-29 00:48] yashasvimisra2798 commented on #53
I can do this using C++

[2020-09-29 00:49] yashasvimisra2798 commented on #45
Thanks @ephremdeme

[2020-09-29 02:10] dmchale commented on #53
I'll take doing this in javascript

[2020-09-29 04:14] 15pa1a05e6 commented on #53
I can do this in Javascript

[2020-09-29 04:26] Palak-137 commented on #3
I will like to implement the quick sort algorithm in a various languages like java, python, c++. Please assign this issue as a part of Hackthoberfest 2020.

[2020-09-29 05:34] mananchawla2005 commented on #4
Any languages left for Linear Search to be implemented? @ephremdeme

[2020-09-29 06:22] gitaalekhyapaul commented on #4
I would like to contribute in Linear Search using Javascript. Please assign @ephremdeme

[2020-09-29 06:25] mananchawla2005 commented on #4
Assign me for python @ephremdeme

[2020-09-29 06:39] ephremdeme commented on #53
Then do it and PR me , i will merge your request.

[2020-09-29 10:01] ahadmushir commented on #36
Hello, I would like to do this in GO lang. Please assign me this too.

[2020-09-29 11:50] iamvpa commented on #2
Sir, i want to implement this in C++ . Can you assign it to me?

[2020-09-29 11:53] iamvpa commented on #11
hi @ephremdeme I want to implement this in C++

[2020-09-29 11:53] Kanhakhatri065 commented on #2
I can do this in python. Assign this to me.

[2020-09-29 11:54] Kanhakhatri065 commented on #45
I can do this in python. Assign this to me.

[2020-09-29 13:16] yashkansal commented on #15
I would like to do this in java.Plz assign me

[2020-09-29 13:18] yashkansal commented on #13
I would like to work on this in java. Plz, assign me.

[2020-09-29 13:19] yashkansal commented on #3
I would like to implement this in java .Plz, assign me.

[2020-09-29 13:22] yashkansal commented on #3
I would like to implement this in javascript. Plz, assign me.

[2020-09-29 13:24] yashkansal commented on #2
I would like to implement in javascript

[2020-09-29 17:19] vyasriday commented on #4
I will add in JavaScript

[2020-09-30 10:23] kashika3101 commented on #53
Please assign me this issue in c++

[2020-09-30 10:24] kashika3101 commented on #12
would love to contribute under hacktoberfest. Can this issue be assigned to me in c++?

[2020-09-30 10:26] kashika3101 commented on #3
I will like to implement the quick sort algorithm in c++. Please assign this issue as a part of Hackthoberfest 2020.

[2020-09-30 11:02] SaiKiranRebba commented on #53
```Then do it and PR me , i will merge your request.```
Sure, I will do it and raise pr.

[2020-09-30 16:35] MayankSingh173 commented on #53
I would like to contribute to this anagrams problem in java.

[2020-09-30 18:49] vyasriday commented on #4
@ephremdeme Added linear search in golang https://github.com/ephremdeme/data-structure-and-algorithms/pull/71

[2020-09-30 19:06] yashasvimisra2798 opened #74 "Implement kadane's algorithm"

[2020-09-30 19:06] yashasvimisra2798 commented on #74
Please assign this issue to me. Thanks

[2020-09-30 19:22] Kanhakhatri065 opened #75 "Implement Counting Sort"

[2020-09-30 19:23] Kanhakhatri065 commented on #75
Please assign this to me. Thanks.

[2020-09-30 19:30] yashasvimisra2798 opened #77 "Maximum sum of hour glass in matrix"
Given a 2D matrix, the task is that we find the maximum sum of an hourglass.

[2020-09-30 19:30] yashasvimisra2798 commented on #77
Please assign this issue to me.

[2020-10-01 02:12] bayuoktari commented on #36
hi, i will do this in javascript

[2020-10-01 05:01] tlynx538 commented on #36
Hello i would like to do this in C

[2020-10-01 05:16] tlynx538 opened #94 "Implementation of firstDuplicate"
_--Adapted from CodeSignal.com---_
Given an array **a** that contains only numbers in the range from **1** to **a.length**, find the first duplicate number for which the second occurrence has the minimal index. In other words, if there are more than **1** duplicated numbers, return the number for which the second occurrence has **a** smaller index than the second occurrence of the other number doe

[2020-10-01 06:24] ephremdeme opened #106 "Implement GCD and LCM in recursion"
Implement GCD and LCM of two integers using any langauge

[2020-10-01 06:29] dev-abir commented on #106
I can do this

[2020-10-01 06:30] shaswatsingh19 commented on #106
I would like to work on it in python

[2020-10-01 06:30] shaswatsingh19 commented on #94
I would like to work on it in python

[2020-10-01 06:31] neelansh15 commented on #106
I can do it in Javascript

[2020-10-01 06:32] shaswatsingh19 commented on #11
hey @ephremdeme I would like to implement it in python

[2020-10-01 06:37] ephremdeme commented on #106
On whatever language you choose you can implement it.

[2020-10-01 06:38] tlynx538 commented on #94
For sure no problem

[2020-10-01 06:39] neelansh15 commented on #106
Shall I create a folder `recursion/GCD_and_LCM`?

[2020-10-01 06:43] dev-abir commented on #106
yes, where we will store them?

[2020-10-01 06:45] neelansh15 commented on #106
@dev-abir Yeah. That is my question to the owner of the repo. I am implementing it in `recursion/GCD_and_LCM.js`. You can do it in your language

[2020-10-01 06:46] dev-abir commented on #106
I will wait for the owner, before PRing

[2020-10-01 06:58] dev-abir commented on #106
okay I will add this in recursion dir

[2020-10-01 07:08] ephremdeme commented on #106
Hi, I have made directory restructure for mathematics related algorithms please check it out before PR. Thank you.

[2020-10-01 07:17] neelansh15 commented on #106
@ephremdeme  Hi. I've made the directory changes to PR #109. Please review it

[2020-10-01 07:42] dev-abir commented on #106
@ephremdeme I have made necessary changes, please review it.

[2020-10-01 09:03] swastikchugh opened #118 "Circular linked list implementation"

[2020-10-01 09:03] swastikchugh commented on #118
Id like to implement this is JavaScript. Please assign the issue to me.

[2020-10-01 09:10] MaticBabnik commented on #94
I can do C# and js

[2020-10-01 09:33] Kanhakhatri065 opened #123 "Implement Sieve of Eratosthenes to check whether the number is prime or not"

[2020-10-01 09:34] yashasvimisra2798 opened #124 "check if a given string is Pangram or not"

[2020-10-01 09:35] yashasvimisra2798 commented on #124
Please assign this to me, I can do this in C++

[2020-10-01 09:40] Kanhakhatri065 commented on #123
Asssign this to me. Thank you.

[2020-10-01 09:41] tlynx538 commented on #94
Great, can you contribute either of any preferred language?

[2020-10-01 10:05] #75 closed

[2020-10-01 10:18] ephremdeme opened #128 "Implement Fibonacci series of a number"
Accept input integer and print out a series of Fibonacci numbers less than the input number in any language

Example:
         input: 8
         output: 1, 1, 2, 3, 5, 8

[2020-10-01 10:19] codetravellearn commented on #128
i would like to contribute

[2020-10-01 10:21] Codedude1 commented on #128
Wanna work

[2020-10-01 10:23] swastikchugh commented on #128
Hey @ephremdeme
i have a PR raised for this [https://github.com/ephremdeme/data-structure-and-algorithms/pull/117](url)
Please have a look.

[2020-10-01 10:38] Moras-del commented on #128
HI, can you assign me? :)

[2020-10-01 10:40] ephremdeme commented on #128
I don't think the link is working.

[2020-10-01 10:41] ephremdeme commented on #128
Go ahead and implement it then send PR

[2020-10-01 10:44] swastikchugh commented on #128
Hey @ephremdeme
Sorry for the incorrect link above
Here it is [](https://github.com/ephremdeme/data-structure-and-algorithms/pull/117)

[2020-10-01 10:57] MaticBabnik commented on #94
Did both, just tell me in which folder do I put them and I'll send a PR.

[2020-10-01 11:07] swastikchugh commented on #128
Hey @ephremdeme
Sorry for the incorrect link
Heres it is [https://github.com/ephremdeme/data-structure-and-algorithms/pull/132](https://github.com/ephremdeme/data-structure-and-algorithms/pull/132)

[2020-10-01 11:07] swastikchugh commented on #15
Hey @ephremdeme
Could you please check implementation in JS [https://github.com/ephremdeme/data-structure-and-algorithms/pull/117](https://github.com/ephremdeme/data-structure-and-algorithms/pull/117)

[2020-10-01 11:55] Prash2002 commented on #128
hey @ephremdeme
I have implemented Fibonacci series in Java, please do check it.
here's the link: https://github.com/ephremdeme/data-structure-and-algorithms/pull/137

[2020-10-01 12:13] brijeshsos66 opened #139 "Graph Traversal Algorithms"
Graph Traversal Algorithms in Java.

[2020-10-01 12:16] #139 closed

[2020-10-01 12:19] saurabhatram commented on #128
Fibonacci Series in Java [#141](https://github.com/ephremdeme/data-structure-and-algorithms/pull/141)

[2020-10-01 12:29] gokulkannan7 commented on #15
@ephremdeme Just opened the PR for implementation in c++, pls do check

[2020-10-01 12:32] Kanhakhatri065 commented on #123
Hey, @ephremdeme I have created the PR #127 which solve this issue. Please review the PR

[2020-10-01 14:41] tlynx538 commented on #94
in the Algorithms folder

[2020-10-01 17:04] ek08 commented on #123
Hey @ephremdeme  I have implemented Sieve of Eratosthenes in Java and made a PR #157 in Java

[2020-10-01 17:11] ek08 commented on #53
Hey @ephremdeme  I have implemented this in Java.My PR is #157

[2020-10-01 17:48] KGene1901 commented on #12
I would love to work on the array implementation for stack using Python.

[2020-10-01 20:26] Aniketh896 commented on #128
Hey @ephremdeme
I created Fibonacci Series in Python, please do check it.

I made a Pull Request here - [#165 ](https://github.com/ephremdeme/data-structure-and-algorithms/pull/165#issue-496524091)

[2020-10-01 21:50] Nivedita-coder commented on #106
Can I do this in C and python??

[2020-10-02 04:46] ishaangupta-YB opened #176 "ReverseLineWordByWord"
Please review my pull request. Link below.

https://github.com/ephremdeme/data-structure-and-algorithms/pull/175
[https://github.com/ephremdeme/data-structure-and-algorithms/pull/175](url)
Create ReverseLineWordByWord #175

[2020-10-02 04:48] ishaangupta-YB commented on #128
[https://github.com/ephremdeme/data-structure-and-algorithms/pull/175](url)
Please review my PR.

[2020-10-02 05:18] ishaangupta-YB commented on #128
[https://github.com/ephremdeme/data-structure-and-algorithms/pull/178](url)
I have done it in java. Please merge it

[2020-10-02 09:14] krishnmohan19 commented on #128
hey @ephremdeme
https://github.com/ephremdeme/data-structure-and-algorithms/pull/183
this is my pull request for fibonacci series in java, please review it.

[2020-10-02 10:16] AnshMishra2001 commented on #124
Pls assign this to me. I can code it in java and python

[2020-10-02 10:54] ankitaugale23 commented on #94
I would like to work on it in c++

[2020-10-02 11:11] ankitaugale23 commented on #128
This is my pull request for the Fibonacci series for c langauge. https://github.com/ephremdeme/data-structure-and-algorithms/pull/184 kindly check it.

[2020-10-02 12:42] reethu-annjo commented on #94
I would like to work on it in java

[2020-10-02 12:45] himanshi2608 commented on #106
Added code for gcd and lcm in cpp

[2020-10-02 12:46] swastikchugh opened #187 "Armstrong number Javascript implementation"
I would like to take this up

[2020-10-02 13:01] swastikchugh commented on #187
Hey @ephremdeme here's the PR for this [https://github.com/ephremdeme/data-structure-and-algorithms/pull/188](https://github.com/ephremdeme/data-structure-and-algorithms/pull/188)

[2020-10-02 13:07] reethu-annjo commented on #2
May I contribute in Java?

[2020-10-02 13:09] reethu-annjo commented on #12
I would like to contribute under Hacktober fest in Java. May I?

[2020-10-02 13:27] ephremdeme opened #194 "Move all Fibonacci implementation to Mathematics folder"
If you are working on Fibonacci series implementation please move the fibonacci folder to Mathematics.

Thank you.

[2020-10-02 13:30] ek08 commented on #12
Hey @ephremdeme I made a PR of Stack Implementation using array in Java.My PR is #195

[2020-10-02 13:37] ek08 commented on #14
Hey @ephremdeme I can implement it in Java.Should I?

[2020-10-02 14:30] MaticBabnik commented on #94
#201 pull?

[2020-10-02 14:38] ephremdeme commented on #128
please move fibonacci folders to Mathematics folder

[2020-10-02 14:39] colossal-pepe opened #205 "Bogosort Algorithm"
Also known as the worst sorting algorithm

[2020-10-02 14:40] colossal-pepe commented on #205
I would like to do implement this in C++ (for hacktoberfes!).

[2020-10-02 14:50] ephremdeme opened #206 "Pascal Triangle"
Implement pascal triangle in any language inside Algorithms/Pascal folder.

[2020-10-02 14:52] Cybertron-Avneesh commented on #206
@ephremdeme can I work on this?

[2020-10-02 14:56] tlynx538 commented on #94
@ankitaugale23 @reethu-annjo @shaswatsingh19 please create a pull request in submitting your implementation and make sure you put it into /problems folder

[2020-10-02 15:00] ephremdeme commented on #206
Yeah sure

[2020-10-02 15:03] import-prospero commented on #206
may i work on this using python?

[2020-10-02 15:04] Cybertron-Avneesh commented on #206
i will be doing through python
u can try other language

[2020-10-02 15:06] import-prospero commented on #206
ok i will do it with java

[2020-10-02 15:31] dinijian commented on #206
I want to contribute. I will do it in C++. Can I do it @ephremdeme?

[2020-10-02 15:33] rishavjain4 commented on #206
I have already sent a pull request for the c++ version . @dinijian

[2020-10-02 15:44] ek08 commented on #206
I did it using Java and my PR is #214

[2020-10-02 15:53] ephremdeme commented on #206
You know it doesn't hurt to star the repo

[2020-10-02 15:54] ek08 commented on #206
I stared it man

[2020-10-02 16:12] ankitaugale23 commented on #128
I have done it check my pull request #184

[2020-10-02 16:13] ek08 commented on #118
Circular Linked List implemented in Java.My PR is #220

[2020-10-02 17:00] adgai19 commented on #206
can I work on this in lua?

[2020-10-02 19:09] ashwanijha04 commented on #206
Please assign the Python one to me.

[2020-10-02 21:03] leonardoamurca commented on #206
@ephremdeme can I work on this in kotlin?

[2020-10-03 00:19] #123 closed

[2020-10-03 00:22] Kanhakhatri065 commented on #128
Has someone tried to implement fibonacci using dynamic programming?

[2020-10-03 00:30] Kanhakhatri065 opened #237 "Dijkstra shortest path algorithm"
Implement Dijkstra shortest path algorithm in any language.

[2020-10-03 00:33] Kanhakhatri065 opened #238 "Graph traversal algorithms for implicit graphs"
Implement graph traversal(BFS and DFS) algorithms for implicit graphs in any language.

[2020-10-03 00:34] Kanhakhatri065 commented on #205
Sure.

[2020-10-03 00:36] #45 closed

[2020-10-03 00:38] Kanhakhatri065 commented on #14
Ok, here you go.

[2020-10-03 00:46] Kanhakhatri065 opened #239 "Fenwick Tree"
Implement Fenwick tree in any language.

[2020-10-03 02:19] anurag-bhatt commented on #239
I can do it in C++ if you want

[2020-10-03 02:24] amarks444 commented on #238
Hey I would Like to Contribute...

[2020-10-03 02:26] aderio25 commented on #205
Can i also try to implement it with Python?

[2020-10-03 02:34] amarks444 commented on #2
**I can contribute in C++?**

[2020-10-03 02:35] amarks444 commented on #237
I would love to do it in C++ if you want?

[2020-10-03 03:10] kavya1229 commented on #239
I will do it in python, please assign this to me.

[2020-10-03 03:12] kavya1229 commented on #237
I will do it in python, please assign this to me

[2020-10-03 03:38] Heisenberg-Vardan commented on #238
I can implement both in C++

[2020-10-03 03:41] sarveshvhawal007 commented on #176
Please Assign it to me
I can do it in C++

[2020-10-03 04:48] sarveshvhawal007 opened #250 "N-Queen Problem[Backtracking Algorithm]"
Backtracking Algorithm
**Famous N-Queen Problem**
Language- C++

When Given a number n as input
It outputs the number of ways of arranging queens in that NxN chessboard such that no two queens can kill each other.

for eg: n=4
there are two possible ways which are outputted like this-
.Q..
...Q
Q...
..Q.
----------------------------------------
..Q.
Q...
...Q
.Q..
---------------------------------

[2020-10-03 04:49] sarveshvhawal007 commented on #250
Can I work on this algo??

[2020-10-03 06:08] ephremdeme opened #260 "To All Contributors"
@Kanhakhatri065 is now a maintainer if you have a question or an issue please ask him.

Thank you.

[2020-10-03 06:53] abhinav889 commented on #74
can i work on it in c?

[2020-10-03 08:21] Kanhakhatri065 commented on #239
@anurag-bhatt do it in c++.

[2020-10-03 08:22] Kanhakhatri065 commented on #239
@kavya1229 wait let me view your PR.

[2020-10-03 08:24] Kanhakhatri065 commented on #238
@Heisenberg-Vardan here you go

[2020-10-03 08:25] Kanhakhatri065 commented on #238
@amarks444 can you implement it in languages other than C++?

[2020-10-03 08:26] Kanhakhatri065 commented on #237
@amarks444 do it in C++ and @kavya1229 do it in python.

[2020-10-03 08:27] amarks444 commented on #238
Yeah ! Python I can do it in Python too...

[2020-10-03 08:56] khannakshat7 commented on #239
@Kanhakhatri065 Can I do it in Python? Pl. assign it to me

[2020-10-03 09:02] khannakshat7 commented on #128
@Kanhakhatri065 I can do it in python using dynamic programming.

[2020-10-03 09:16] Kanhakhatri065 commented on #239
@khannakshat7 No, I have assigned C++ and python implementation to other contributors but you are free to implement in any other language.

[2020-10-03 09:17] Kanhakhatri065 commented on #205
@aderio25 ok, here you go.

[2020-10-03 09:18] Kanhakhatri065 commented on #238
@amarks444 implement it in python.

[2020-10-03 09:29] Kanhakhatri065 opened #270 "Disjoint Set Union"
Implement disjoint set union in any language

[2020-10-03 09:30] Kanhakhatri065 commented on #270
I'm gonna implement this in C++.

[2020-10-03 09:35] Kanhakhatri065 commented on #260
Thank you @ephremdeme for this opportunity.

[2020-10-03 09:39] Kanhakhatri065 opened #272 "Suffix array for strings"
Implement Suffix array for strings in any language.

[2020-10-03 09:40] Kanhakhatri065 commented on #272
I'm gonna implement it in C++.

[2020-10-03 09:45] Kanhakhatri065 commented on #128
@khannakshat7 sure, I'm gonna assign this to you.

[2020-10-03 09:47] Kanhakhatri065 commented on #2
Implement it in a language in which it hasn't been implemented yet.

[2020-10-03 10:18] khannakshat7 commented on #128
@Kanhakhatri065 Please can you review and merge #275

[2020-10-03 10:30] khannakshat7 commented on #270
@Kanhakhatri065 Can I do this in Python? Pl. assign it to me

[2020-10-03 10:30] syedareehaquasar opened #277 "Binary Search implementation is C needed to be added"

[2020-10-03 10:39] Harshalszz opened #279 "Binary Search Tree in Python"

[2020-10-03 10:41] Kanhakhatri065 commented on #270
@khannakshat7 ok, here you go.

[2020-10-03 10:42] Kanhakhatri065 commented on #128
Sure.

[2020-10-03 10:43] Kanhakhatri065 commented on #128
I guess we have more than enough implementations of fibonacci number, so I'm gonna close this issue.

[2020-10-03 10:43] #128 closed

[2020-10-03 10:45] Kanhakhatri065 commented on #277
We have an implementation of BST in C language but you can implement it in any other language.

[2020-10-03 10:45] #277 closed

[2020-10-03 10:46] Kanhakhatri065 commented on #74
@abhinav889 sure but try to implement it in a language in which it hasn't been implemented yet.

[2020-10-03 10:48] Kanhakhatri065 commented on #250
@sarveshvhawal007 sure, go ahead.

[2020-10-03 11:15] khannakshat7 commented on #270
@Kanhakhatri065 Please review and merge #282

[2020-10-03 12:11] amarks444 commented on #237
[added Dijkstra in C++](https://github.com/amarks444/Data-Structure-Algorithms/blob/master/DIJKSTRA'SALGORITHM.CPP)

[2020-10-03 12:18] Kanhakhatri065 commented on #237
This looks good but can you also implement it for explicit graphs?

[2020-10-03 12:36] amarks444 commented on #237
Yes, I would love to do it, Can you provide some test cases for that..

[2020-10-03 12:49] ephremdeme commented on #260
And don't forget to add people to contributors list by commenting: @all-contributors please add @username for code, ideas, design

After merging their PR.

[2020-10-03 12:51] ephremdeme commented on #260
If your profile pics is not added to contributors list in Readme please comment below.

[2020-10-03 13:32] amarks444 commented on #238
Added Graph traversal using BFS for Implicit Graph in Python [.**287**](https://github.com/ephremdeme/data-structure-and-algorithms/pull/287)

[2020-10-03 13:39] amarks444 commented on #238
Added Graph traversal using BFS for Implicit Graph in Python.  **[#288 ](url)**

[2020-10-03 14:21] Anuragkar234 commented on #206
Is Golang acceptable?

[2020-10-03 14:41] devansh9011 commented on #260
I've added mo's algorithm to the algorithm folder and generated a PR but the hacktoberfest website is saying
Your PR was submitted to a repository that is not participating in Hacktoberfest. Maintainers of the repository can add the "hacktoberfest" topic to their repository if they wish to participate.
Please look into this.

[2020-10-03 14:42] satrio-pamungkas commented on #205
#289 Ok, here it is Bogo Sort with Python.

[2020-10-03 16:18] Anuragkar234 commented on #118
Heya! Just added a PR, check it out once and would like to contribute.

[2020-10-03 16:21] Anuragkar234 commented on #118
Is it possible for You @swastikchugh to add the hacktoberfest" topic to this issue, it would be really helpful though :)

[2020-10-03 17:04] import-prospero commented on #272
i am ready to work on this using python or java or even c++...in which folder should i put my code file..

[2020-10-03 17:42] Kanhakhatri065 commented on #237
g.addEdge(0, 1, 4);

    g.addEdge(0, 7, 8);

    g.addEdge(1, 2, 8);

    g.addEdge(1, 7, 11);

    g.addEdge(2, 3, 7);

    g.addEdge(2, 8, 2);

    g.addEdge(2, 5, 4);

    g.addEdge(3, 4, 9);

    g.addEdge(3, 5, 14);

    g.addEdge(4, 5, 10);

    g.addEdge(5, 6, 2);

    g.addEdge(6, 7, 1);

    g.addEdge(6, 8, 6);

    g.addEdge(7, 8, 7);

The first one is source node, the second one is des

[2020-10-03 17:43] Kanhakhatri065 commented on #272
Implement in any language except the ones in which it is already implemented.

[2020-10-03 17:44] rishinpandit09 commented on #237
hey i will do this in python can u pls add me

[2020-10-03 17:46] Kanhakhatri065 commented on #260
Ok, I will keep that in mind.

[2020-10-04 01:58] juanmagutierrez commented on #206
Can i do it in PHP?

[2020-10-04 03:14] amarks444 commented on #238
I have implimented it in python...
You can merge it..

[2020-10-04 03:50] amarks444 opened #295 "Implement Bellman Ford in C++,Python,Java"
Implement Bellman Ford.

[2020-10-04 04:50] Kanhakhatri065 opened #299 "Segment Tree for Range Sum Queries"
Implement Segment Tree for Range Sum Queries in any language.

[2020-10-04 04:53] rudenko-gold commented on #299
Can I do it in C++?

[2020-10-04 04:57] Kanhakhatri065 commented on #299
@rudenko-gold yeah, go ahead.

[2020-10-04 05:00] Kanhakhatri065 commented on #238
@amarks444 I have merged your PRs.

[2020-10-04 05:04] #295 closed

[2020-10-04 05:19] amarks444 opened #301 "Implement Bellman Ford Algorithm."

[2020-10-04 05:30] Anuragkar234 commented on #206
Just added a PR for pascals triangle in golang, check it our once :)

[2020-10-04 05:52] amarks444 opened #303 "Implement Bellman Ford Algorithm."

[2020-10-04 05:53] #303 closed

[2020-10-04 06:03] amarks444 commented on #301
[goodfirstissuel](goodfirstissuel)

[2020-10-04 06:46] Anuragkar234 commented on #206
Is it possible for you to add "hacktoberfest" label to repo, it would  be really helpful though 👍🏼

[2020-10-04 07:11] amarks444 commented on #237
I have Updated Dijkstras for Implicit Graphs using Set in STL ..**#305**
You can Merge it..

[2020-10-04 07:13] ek08 commented on #14
I implemented it in Java .

[2020-10-04 07:35] pracheesingh03 commented on #15
I would like to contribute to this. Fibonacci using recursion.

[2020-10-04 09:06] OfiliPatrick commented on #35
Hi, Can I contribute to this in Python?

[2020-10-04 09:09] OfiliPatrick commented on #15
Hi, Can I contribute to this in Python?

[2020-10-04 13:11] devansh9011 commented on #260
@ephremdeme @Kanhakhatri065 i think you have to add hacktoberfest as a label to the repository to be able to participate in the hacktoberfest

[2020-10-04 15:42] Kanhakhatri065 commented on #260
@devansh9011 thank you for notifying us.

[2020-10-04 16:18] amarks444 commented on #237
You can Merge it..

[2020-10-04 17:14] Kanhakhatri065 commented on #237
@amarks444 done.

[2020-10-04 18:19] skamp91 commented on #15
I have a question. Should I have to do something to make the pull request for the hacktoberfest count?
My PR for this Repo shows "Ineligible Repository "
Good Regards

[2020-10-05 08:22] import-prospero commented on #272
i added the suffixtree program using python...i have made the PR please merge it ...it is working fine

[2020-10-05 12:02] ankitaugale23 commented on #94
I have made a PR #316 . Kindly check

[2020-10-05 15:01] Kanhakhatri065 opened #317 "Add hacktoberfest label to the repoaitory"
@ephremdeme please add the Hacktoberfest label to the repository to make it eligible to participate in Hacktoberfest2020. As, most of our contributors are Hacktoberfest aspirants we don't want their effort to go in vain.

[2020-10-05 17:27] colossal-pepe commented on #205
#318 here is Bogo sort with C++

[2020-10-05 19:10] ephremdeme commented on #317
@Kanhakhatri065  Anyone who creates an issues can label the issue. Simply go to any issues, example this, then click 'Label' and finally select 'hacktoberfest'. Its over as simple as that.

[2020-10-05 20:10] Kanhakhatri065 opened #319 "Prim’s algorithm"
Implement Prim's algorithm in any language.

[2020-10-05 20:11] Kanhakhatri065 opened #320 "Kruskal’s algorithm"
Implement Kruskal's algorithm in any language.

[2020-10-05 20:12] Kanhakhatri065 commented on #317
Noted.

[2020-10-05 20:12] #317 closed

[2020-10-05 20:13] #279 closed

[2020-10-05 20:13] #250 closed

[2020-10-05 20:13] #2 closed

[2020-10-05 20:13] #3 closed

[2020-10-05 20:14] Kanhakhatri065 commented on #4
We have more than enough contributions for this issue. So,I'm gonna close this issue.

[2020-10-05 20:14] #4 closed

[2020-10-05 20:19] agarwalBinay18 commented on #320
Can I work on this issue ?

[2020-10-05 20:21] #205 closed

[2020-10-05 20:23] Kanhakhatri065 commented on #320
Sure, go ahead.

[2020-10-05 20:23] colossal-pepe opened #321 "Algorithm for checking if a string can be rearranged into a palindrome"
I would like to do this in C++. Also for hacktoberfest. Another question, if I ended up doing this, where should I put the file?

[2020-10-05 20:23] nikhil121101 commented on #272
assign this to me in java please

[2020-10-05 20:24] nikhil121101 commented on #299
can i do it in java please

[2020-10-05 20:28] Kanhakhatri065 commented on #272
@nikhil121101 sure, go ahead.

[2020-10-05 20:28] Kanhakhatri065 commented on #299
@nikhil121101 sure, go ahead.

[2020-10-05 20:29] agarwalBinay18 commented on #320
done! Kindy label "Hacktoberfest-accepted" so that it can be count in the Hacktoberfest 2020

[2020-10-05 20:53] cunhazera commented on #319
@Kanhakhatri065 I've just opened a PR for this issue. Do you still need to add the Hacktoberfest topic to the repo?

[2020-10-05 21:55] shubhamnag14 commented on #319
i want to implement prims algorithm in python..so can
if yes..plz assign me..

[2020-10-05 22:04] atingarg1406 commented on #319
I would like to do this task. Do assign me for that. I will implement the Prim's Algorithm using C++.

[2020-10-05 22:07] atingarg1406 commented on #320
I would like to do the task. Do assign me for that. I will implement the Kruskal's Algorithm in C++.

[2020-10-06 02:14] pracheesingh03 opened #327 "Add hacktoberfest and hacktoberfest-accepted tag to your repository"
![hack1](https://user-images.githubusercontent.com/55819473/95151215-b9055780-07a7-11eb-9cfc-85727f34975a.PNG)

[2020-10-06 02:38] ek08 commented on #320
I would like to do it in Java.

[2020-10-06 06:04] tlynx538 commented on #94
You're good to go.

[2020-10-06 06:08] Shubhankar249 opened #328 "Dynamic Programming"
Hey @ephremdeme, I have noticed that there is no dynamic programming algorithms in this repo.
Can I work on that?

[2020-10-06 06:47] Kanhakhatri065 commented on #319
@shubhamnag14 Sure, go ahead.

[2020-10-06 06:49] Kanhakhatri065 commented on #320
@atingarg1406 sure, go ahead.

[2020-10-06 06:49] Kanhakhatri065 commented on #320
@ek08 sure, go ahead.

[2020-10-06 07:02] shubhamnag14 commented on #319
please assign me this issue

[2020-10-06 11:09] Kanhakhatri065 commented on #319
@shubhamnag14  sure, go ahead.

[2020-10-06 11:15] import-prospero commented on #272
thanks for merging the pull request but it was not added to my hacktoberfest PRs ....it says that this repository is not participating in the hacktoberfest..???

[2020-10-06 12:29] cunhazera commented on #319
@Kanhakhatri065 can you add the "hacktoberfest" topic to this repo?
![image](https://user-images.githubusercontent.com/8171351/95201534-78610a80-07b6-11eb-8349-6b57afb12ba5.png)

[2020-10-06 15:38] Kanhakhatri065 commented on #272
Alternatively, we can add "hacktoberfest-accepted" to your merged PR.

[2020-10-06 15:38] Kanhakhatri065 commented on #272
so if your PR has been merged address me there and I will add this particular label.

[2020-10-07 18:22] zafar-hussain commented on #35
Hi there, I am doing this task in Racket,
will push it shortly,
cheers

[2020-10-07 18:38] 0-harshit-0 commented on #238
I can implement in js.

[2020-10-07 20:34] Kanhakhatri065 commented on #238
@0-harshit-0 sure, go ahead.

[2020-10-07 20:35] Kanhakhatri065 commented on #327
Thank you for notifying us.

[2020-10-07 20:35] #327 closed

[2020-10-07 20:36] Kanhakhatri065 commented on #321
Sure, go ahead. You can put it in Algorithms folder

[2020-10-07 20:39] Kanhakhatri065 commented on #319
@cunhazera we are using the "hacktoberfest-accepted" label for merged PR.

[2020-10-08 01:33] christopherwalkerml commented on #321
PR: https://github.com/ephremdeme/data-structure-and-algorithms/pull/338

[2020-10-08 05:42] 0-harshit-0 commented on #238
i have made a merge request.

[2020-10-08 15:30] zafar-hussain commented on #36
Hi guys,
I am pushing a Racket version of this problem
cheers

[2020-10-09 12:22] krishnmohan19 commented on #321
hey @Kanhakhatri065 .
plz assign me this in any of java/c#.

[2020-10-09 18:49] zafar-hussain opened #347 "Factorial of n in any language"
Create a Factorial of n in any language

Brownie points for Recursive solutions, but all solutions are appreciated.

Please put your solution in ../data-structure-and-algorithms/Mathematics/Factorial folder

cheers

[2020-10-09 23:08] ManasUniyal commented on #299
@Kanhakhatri065, can I do it in C?

[2020-10-11 15:24] Druffl3 commented on #321
@Kanhakhatri065 , implemented the solution in C# and submitted a PR #351

[2020-10-12 16:56] #321 closed

[2020-10-17 06:18] Thuvan96 commented on #320
Can I work on this?

[2020-10-17 08:34] #94 closed

[2020-10-22 10:23] import-prospero commented on #36
please merge #366 ...palindrome integers checking using python...for hacktoberfest

[2021-06-12 17:41] Abhishekbharti9910 commented on #36
Hi, I can pull off in c++

[2021-06-19 07:26] ephremdeme commented on #36
Sure, @Abhishekbharti9910 . I will merge if you PR.

[2022-09-26 07:10] Pal-Sandeep commented on #106
I can do this in C and Python

[2022-09-26 07:14] Pal-Sandeep commented on #176
#175
I can do it in C.

[2022-09-26 07:17] Pal-Sandeep commented on #15
#151
I would like do it in  C and Python.

[2022-09-26 09:03] Pal-Sandeep commented on #347
#348 I can do it in C.

[2022-10-04 19:56] aryanayush012 commented on #320
i can solve this efficiently in C++,please assign it to me. @Thuvan96

[2022-10-04 20:00] aryanayush012 commented on #206
i can solve this efficiently in C++,please assign it to me. @leonardoamurca

[2022-10-09 14:42] anishaxtha commented on #15
hello! I'd like to work on this!:)

[2022-10-10 05:51] anishaxtha commented on #35
hello! I'd like to work in this:)

[2022-10-10 15:58] Omm-Pani commented on #36
Hello can I do it using javascript

[2022-10-14 22:56] abd0hrz commented on #35
Hi @ephremdeme i would like to solve this issue using Python, if it's ok!

[2022-10-15 10:32] akash-1107 commented on #35
Please assign this to me

[2022-10-23 14:15] guneet-01 commented on #301
I have provided complete running code of bellman_ford in PR #375

[2022-11-02 22:35] #347 closed